:root {
  --header-height: 3.5rem;

  /*========== Color ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --white-color: hsl(0, 0%, 100%);
  --white-color-light: hsl(0, 0%, 90%);
  --shadow-bg: linear-gradient(180deg,
             hsla(0, 0%, 0%, 0) 60%,
             hsla(0, 0%, 0%, .7) 78%);

  /*========== Fuente y tipografia ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --big-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
}

/*========== Tamaño de letra segun su funcion ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
body {
  background-color: #566573;
}
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  color: var(--white-color);
}



/*=============== BANNER ===============*/
.banner__link {
  position: relative;
  display: grid;
  place-items: center;
  color: var(--white-color);
}

.banner__img {
  border-radius: 1rem;
}

.banner__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--shadow-bg);
  border-radius: 1rem;
}

.banner__data {
  position: absolute;
  bottom: 1.5rem;
  text-align: center;
}

.banner__title {
  font-size: var(--big-font-size);
}

/*=============== CARDS ===============*/
.card__title {
  font-size: var(--h3-font-size);
  margin-bottom: .75rem;
}

.card__article {
  width: 152px;
}

.card__link {
  position: relative;
  display: grid;
  place-items: center;
  color: var(--white-color);
}

.card__img {
  border-radius: 1rem;
}

.card__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--shadow-bg);
  border-radius: 1rem;
}

.card__data {
  position: absolute;
  bottom: 1rem;
  text-align: center;
  padding-inline: .75rem;
}

.card__name {
  font-size: var(--normal-font-size);
}

.card__category {
  font-size: var(--small-font-size);
}

.card__like {
  position: absolute;
  top: .75rem;
  right: .75rem;
  font-size: 1.25rem;
  cursor: pointer;
}

.movie__wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; /* Para permitir el desplazamiento horizontal si las tarjetas son demasiadas */
}

.card__article {
  flex: 0 0 auto;
  margin-right: 10px;
}

.card__img {
  width: 100%;
  height: auto;
}

